.login-container {
    width: 100%;
    height: 100vh;
    background-color: var(--color14);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-box {
    background-color: var(--color12);
    border: 2px solid var(--color10);
    border-radius: 1rem;
    padding: 3rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    max-width: 400px;
    width: 90%;
}

.login-header {
    text-align: center;
}

.logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color4);
    border-radius: 5px;
    background-color: var(--color2);
    font-size: 1rem;
    color: var(--color9);
    transition: all 0.2s ease;
    margin-top: 5px;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    outline: none;
    border-color: var(--color10);
    background-color: var(--color4);
}

.login-form .button {
    padding: 10px;
    margin-top: 10px;
    align-self: center;
    width: 50%;
    font-weight: 700;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.login-form .button:hover {
    background-color: var(--color2);
    border-color: var(--color4);
}

