{% extends 'dashboard/base.html' %}

{% block content %}
<div class="row" style="">
    <div class="box">
        <p>Na tej stronie znajdują się adresy ip, które są zablokowane na stałe (bot ich nie odblokuje).<br>
        Można odblokować je tylko ręcznie wybierając adres z listy.<br>
        Na tej stronie możesz też na stałe zablokować inny adres.</p>
    </div>

    <div class="box">
        <h2>Wpisz sieć IP do zablokowania</h2>
        <form method="POST" action="{% url 'add-address-to-blacklist' %}">
            {% csrf_token %}
            <div class="ipAdress">
                <input type="text" placeholder="Adres Ip" name="address" id="address" required>
                <input type="number" step="1" max="32" min="0" value="32" name="mask">
            </div>
            <input type="text" placeholder="Komentarz (opcjonalne)" name="comment">
            <button class="button">Potwierdz</button>
        </form>
    </div>
</div>

<div class="box">
{% if blacklist %}

    <h2>Blacklist</h2>
    <div class="list">
{#        <div class="listElement row box">#}
{#        <strong>Sieć</strong>#}
{#        <strong>Komentarz</strong>#}
{#        </div>#}
        {% for el in blacklist %}

        <div class="listElement row box">
            <strong>{{ el.network }}</strong>

            {% if el.comment %}
            <p>{{ el.comment }}</p>
            {% else %}
            <p> Brak</p>
            {% endif %}

            <form action="{% url 'dashboard:delete_ip' el.id %}" method="POST"
                onsubmit="return confirm('Na pewno chcesz usunąć {{ el.network }}?');">

                {% csrf_token %}
                <button type="submit" class="logout_button">Usuń</button>
            </form>


        </div>

        {% endfor %}

    </div>
{% else %}
    <h2>Lista jest pusta</h2>
{% endif %}
</div>


{% endblock %}