{% extends 'dashboard/base.html' %}

{% block content %}

<div class="row">
    <h1 class="box">Hello from dashboard</h1>

    <form class="box">
        <label for="hello">Last name:</label>
        <input type="text" id="hello">
        <label for="hello">Last name:</label>
        <input type="text" id="hello">
        <label for="hello">Last name:</label>
        <input type="text" id="hello" placeholder="Test">
        <input class="button" type="submit" value="Potwierdź">
    </form>
</div>
    

{% endblock %}