{% extends 'dashboard/base.html' %}

{% block content %}

    <div class="box">
        <p> Na tej stronie, w trybie ręcznego wydawania komend, znajdują się dwie listy. </p> 
        <p> Pierwsza lista zawiera adresy sugerowane przez system do zablokowania, zgodnie z wcześniej zdefiniowanymi ustawieniami. Możesz zablokować wszystkie adresy przyciskiem „Zablokuj wszystkie” lub zaznaczyć wybrane pozycje, aby zablokować je pojedynczo. Po naciśnięciu przycisku zostanie wygenerowana komenda umożliwiająca dodanie reguły blokady do firewalla. Komendę można wkleić do konsoli po wcześniejszym uzupełnieniu klucza API. </p> 
        <p> Druga lista zawiera adresy przeznaczone do odblokowania, ponieważ czas ich blokady dobiegł końca. Komenda do odblokowania zostanie wygenerowana w taki sam sposób, jak w przypadku pierwszej listy. </p>
    </div>

    {% if automated %}
        <div class="box" style="text-align:center; padding:20px;">
            <h2 style="color:green;">Bot w trybie automatycznym</h2>
            <h4>Decyzje są podejmowane za ciebie</h4>
            <h5>Możesz zmienić tryb działania w ustawieniach</h5>
        </div>
    {% else %}
        <div class="box">
            <h2>Lista adresów które należy zablokować</h2>
            <div class="row center">
                {% if to_block_list %}
                <h4>Zablokować wszystkie?</h4>
                <form action="{% url 'dashboard:gen_block_command' %}" method="POST"
                    onsubmit="return confirm('Na pewno chcesz zablokować wszystkie {{ el }}?');">

                    {% csrf_token %}
                    {% for el in to_block_list %}
                        <input type="hidden" name="addresses" value="{{ el.address }}">
                    {% endfor %}
                    <button type="submit" class="logout_button">Zablokuj wszysztkie</button>
                </form>
                {% else %}
                    <h4>Brak adresów do zablokowania</h4>
                {% endif %}
            </div>
        </div>
            {% if to_block_list %}
                <div class="list">

                <div class="listElement row box center">

                    <form action="{% url 'dashboard:gen_block_command' %}" method="POST" class="list"
                        onsubmit="return confirm('Na pewno chcesz zablokować zaznaczone?');">
                        {% csrf_token %}

                        {% for el in to_block_list %}
                            <div class="box row center">
                                <input type="checkbox" name="addresses" value="{{ el.address }}">
                                <strong>{{ el }}</strong>
                            </div>
                        {% endfor %}
                        <button type="submit" class="logout_button">Zablokuj zaznaczone</button>
                    </form>
                    </div>
                </div>
            {% endif %}






{#        _________________________________________ do odblokowania --------------------------------------#}


                <div class="box" style="margin-top: 40px;">
                    <h2>Lista adresów które należy odblokować</h2>
                    <div class="row center">

                        {% if to_unblock_list %}

                        <h4>Odblokować wszystkie?</h4>
                        <form action="{% url 'dashboard:gen_unblock_command' %}" method="POST"
                            onsubmit="return confirm('Na pewno chcesz odblokować wszystkie {{ el }}?');">

                            {% csrf_token %}
                            {% for el in to_unblock_list %}
                                <input type="hidden" name="addresses" value="{{ el.address }}">
                            {% endfor %}

                            <button type="submit" class="logout_button">Odblokuj wszysztkie</button>
                        </form>

                        {% else %}

                            <h4>Brak adresów do odblokowania</h4>

                        {% endif %}

                    </div>
                </div>

                {% if to_unblock_list %}
                <div class="list">


                <div class="listElement row box center">

                    <form action="{% url 'dashboard:gen_unblock_command' %}" method="POST" class="list"
                        onsubmit="return confirm('Na pewno chcesz zablokować zaznaczone?');">
                        {% csrf_token %}

                        {% for el in to_unblock_list %}
                            <div class="box row center">
                                <input type="checkbox" name="addresses" value="{{ el.address }}">
                                <strong>{{ el }}</strong>
                            </div>
                        {% endfor %}
                        <button type="submit" class="logout_button">Odblokuj zaznaczone</button>
                    </form>
                    </div>
                </div>
                    {% endif %}
            </div>

    {% endif %}

{% endblock %}
