{% extends 'dashboard/base.html' %}

{% block content %}

    <div class="box">
        <h1>Ilość ataków na godzinę</h1>
    </div>
         <div class="box">
        <h1>Ilość zablokowanych adresów na godzinę</h1>
    </div>
         <div class="box">
        <h1>Najaktywniejsze atakujące adresy</h1>
    </div>
         <div class="box">
        <h1>Najczęsciej atakujący kraj</h1>
    </div>
         <div class="box">
        <h1>Najczęsciej atakowany adres</h1>
    </div>

{#    <div class="row">#}
{#        <h1 class="box">Hello from dashboard</h1>#}
{#    #}
{#        <form class="box">#}
{#            <label for="hello">Last name:</label>#}
{#            <input type="text" id="hello">#}
{#            <label for="hello">Last name:</label>#}
{#            <input type="text" id="hello">#}
{#            <label for="hello">Last name:</label>#}
{#            <input type="text" id="hello" placeholder="Test">#}
{#            <input class="button" type="submit" value="Potwierdź">#}
{#        </form>#}
{#    </div>#}
    

{% endblock %}