{% extends 'dashboard/base.html' %}

{% block content %}
<div class="row" style="">
    <div class="box">
        <p>Na tej stronie znajdują się adresy IP, które są wykluczone z automatycznego blokowania przez bota.
Możesz tutaj dodawać adresy, które mają być na stałe odblokowane, aby bot ich nigdy nie blokował.</p>
    </div>

    <div class="box">
        <h2>Wpisz sieć IP do zablokowania</h2>
        <h4>Podając adres ip i maskę sieci</h4>
        <form method="POST" action="{% url 'add-address-to-list' 'whitelist' %}" class="network_form">
            {% csrf_token %}

            <div class="ipAdress">
                <input type="text" placeholder="Adres Ip" name="address" id="address" required>

                <input type="number" step="1" max="32" min="0" value="32" name="mask">

            </div>

            <input type="text" class="comment_input" placeholder="Komentarz (opcjonalne)" name="comment">

            <button class="button">Dodaj do listy</button>
        </form>
    </div>
</div>

<div class="box">
{% if whitelist %}

    <h2>Whitelist</h2>
    <div class="list">
{#        <div class="listElement row box">#}
{#        <strong>Sieć</strong>#}
{#        <strong>Komentarz</strong>#}
{#        </div>#}
        {% for el in whitelist %}

        <div class="listElement row box">
            <strong>{{ el.network }}</strong>

            {% if el.comment %}
            <p>{{ el.comment }}</p>
            {% else %}
            <p> Brak</p>
            {% endif %}

            <form action="{% url 'delete_ip' 'whitelist' el.id %}" method="POST"
                onsubmit="return confirm('Na pewno chcesz usunąć {{ el.network }}?');">

                {% csrf_token %}
                <button type="submit" class="logout_button">Usuń</button>
            </form>


        </div>

        {% endfor %}

    </div>
{% else %}
    <h2>Lista jest pusta</h2>
{% endif %}
</div>


{% endblock %}